@use "@styles/partials/abstracts" as *;

// button styles
button {
    cursor: pointer;
    border: none;
    padding: 12px 16px;
    transition: background-color 0.1s ease-in-out;
    &:disabled {
        background-color: #dddddd;
        cursor: pointer;
    }
}

// button presets
.button-primary {
    background-color: #423a70;
    color: #ffffff;
}

.button-secondary {
    background-color: transparent;
    border: 1px solid #423a70;
    color: #423a70;
}

.button-secondary--white {
    background-color: transparent;
    border: 1px solid var(--clr-white);
    color: var(--clr-white);
}
