// button styles
button {
    cursor: pointer;
    border: none;
    padding: 12px 16px;
    transition: background-color 0.1s ease-in-out;
    &:disabled {
        background-color: #dddddd;
        cursor: pointer;
    }
}

// button preset classes

.button-primary,
.button-secondary,
.button-secondary--white {
    padding: 8px 16px;
    text-align: center;
    font-size: var(--font-sz-500);
}

.button-primary {
    background-color: #423a70;
    color: #ffffff;

    &:hover {
        background-color: var(--clr-brand-accent);
    }
}

.button-secondary {
    background-color: transparent;
    border: 1px solid #423a70;
    color: #423a70;
}

.button-secondary--white {
    background-color: transparent;
    border: 1px solid var(--clr-white);
    color: var(--clr-white);
}
