@use "@styles/partials/abstracts/mixins" as *;
// Global button styles
button {
    border: none;
}
.button {
    // Default Button Styles
    --_padding: #{rem(8)} #{rem(16)};
    --_background: var(--clr-brand-primary);
    --_color: var(--clr-white);
    --_border: var(--clr-brand-primary);
    --_font-sz: var(--font-sz-400);
    --_loader: var(--clr-white);

    cursor: pointer;
    border: 4px solid var(--_border);
    padding: var(--_padding);
    background-color: var(--_background);
    color: var(--_color);
    text-align: center;
    font-size: var(--_font-sz);
    transition: all 0.2s ease-in-out;

    &:hover:not(:disabled),
    &:focus-visible:not(:disabled) {
        filter: brightness(140%);
    }

    &:disabled {
        filter: opacity(0.75);
        cursor: default;
        background-color: var(--_background);

        // text invisible, loader visible
        &.button--loader {
            --_color: transparent;
        }
        .button__loader {
            visibility: visible;
            opacity: 100%;
        }
    }
    // MODIFIERS
    &--loader {
        position: relative;
    }

    &__loader {
        color: var(--_loader);
        opacity: 0%;
        visibility: hidden;
        font-size: 1.3em;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        animation: spin 1s infinite linear;
    }

    &--primary,
    &--secondary,
    &--secondary-white {
        --_font-sz: var(--font-sz-500);
    }
    &--primary {
        --_background: var(--clr-brand-primary);
        --_color: var(--clr-white);
        --_border: var(--clr-brand-primary);
    }
    &--secondary {
        --_background: transparent;
        --_color: var(--clr-brand-primary);
        --_loader: var(--clr-brand-primary);

        &:hover:not(:disabled),
        &:focus-visible:not(:disabled) {
            --_background: var(--clr-brand-primary);
            --_color: var(--clr-white);
        }
    }
    &--secondary-white {
        --_background: transparent;
        --_border: var(--clr-white);
        --_color: var(--clr-white);
        --_loader: var(--clr-white);
        &:hover:not(:disabled),
        &:focus-visible:not(:disabled) {
            --_border: var(--clr-brand-primary);
            --_color: var(--clr-brand-primary);
        }
    }
}

// loading state

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
