@use "@styles/partials/abstracts/mixins" as *;
// content wrapper
.wrapper,
.wrapper--sm {
    --max-width: 1280px;
    --gutter-width: 40px;
    width: min(var(--max-width), 100% - var(--gutter-width));
    margin-inline: auto;
}

.wrapper--sm {
    --max-width: 768px;
}

.text-wrap {
    max-width: 76ch;
}

// stack
.stack {
    display: grid;

    & > * {
        grid-area: 1 / 1;
    }
}

.scroll-fixed {
    overflow: hidden;
}

// screen reader only class
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hidden {
    display: none;
}

// BACKGROUND IMAGE
.background__image-parent {
    position: relative;
    overflow: hidden;
}
// use translate property to move image within the parent
.background__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    z-index: -10;
    object-fit: cover;
}

// OVERLAY: a body class used for stopping site scroll and adding a blurred background
.overlay {
    transition: opacity 0.3s ease-in-out;
    &::before {
        content: "";
        position: fixed;
        z-index: 300;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(3px);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        pointer-events: none;
    }
}

.overlay--active {
    overflow: hidden;

    &::before {
        opacity: 1;
        pointer-events: all;
    }
}

// FLOW: creating natural rhythm and spacing for text layouts
.flow {
    & > * + *,
    img {
        margin-top: var(--_flow-space, 1em);
    }

    img {
        --_flow-space: 2em;
    }
}

// REPONSIVE PADDING
.section__padding {
    // For most layout component sections
    --_padding--min: var(--spc-lg);
    --_padding--max: var(--spc-xl);
    --_padding--preferred: 3.636vw + 1.091rem;

    // growth for current min and max vals range: 400px and 1280px
    padding-block: clamp(var(--_padding--min), var(--_padding--preferred), var(--_padding--max));

    // for headers
    &--lg {
        --_padding--min: var(--spc-lg);
        --_padding--max: var(--spc-2xl);
        --_padding--preferred: 10.909vw + -0.727rem;
        padding-block: clamp(
            var(--_padding--min),
            var(--_padding--preferred),
            var(--_padding--max)
        );
    }

    &--extra {
        --_padding--min: var(--spc-lg);
        --_padding--max: var(--spc-xl);
        --_padding--preferred: 3.636vw + 1.091rem;

        // growth for current min and max vals range: 400px and 1280px
        padding-block: clamp(
            var(--_padding--min),
            var(--_padding--preferred),
            var(--_padding--max)
        );
        &-top {
            --_padding--min: var(--spc-lg);
            --_padding--max: var(--spc-xl);
            --_padding--preferred: 3.636vw + 1.091rem;

            // growth for current min and max vals range: 400px and 1280px
            padding-block-start: clamp(
                var(--_padding--min),
                var(--_padding--preferred),
                var(--_padding--max)
            );
        }
        &-bottom {
            --_padding--min: var(--spc-lg);
            --_padding--max: var(--spc-xl);
            --_padding--preferred: 3.636vw + 1.091rem;

            // growth for current min and max vals range: 400px and 1280px
            padding-block-end: clamp(
                var(--_padding--min),
                var(--_padding--preferred),
                var(--_padding--max)
            );
        }
    }
}
