html {
    box-sizing: border-box;
    scroll-behavior: smooth;

    @media (prefers-reduced-motion: reduce) {
        scroll-behavior: auto;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    display: inline-block;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

ul[class],
ol[class] {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

:focus-visible {
    outline-color: #8c52ff;
}
