html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    display: inline-block;
}

img {
    display: block;
    max-width: 100%;
}

ul[class] {
    list-style-type: none;
    padding: 0;
}

:focus-visible {
    outline-color: #8c52ff;
}
