@use "@styles/partials/abstracts/mixins" as *;
:root {
    // TYPOGRAPHIC VARIABLES
    // Font Families
    --font-fm-title: "Playfair Display", serif;
    --font-fm-body: "Lato", arial, sans-serif;
    // Font sizes: base font is font-sz-400 (20px), following a minor third sizing scale.
    --font-sz-100: #{rem(11.11)};
    --font-sz-200: #{rem(13.33)};
    --font-sz-300: #{rem(16)};
    --font-sz-400: #{rem(20)};
    --font-sz-500: #{rem(24)};
    --font-sz-600: #{rem(28.8)};
    --font-sz-700: #{rem(34.56)};
    --font-sz-800: #{rem(41.47)};
    --font-sz-900: #{rem(49.77)};
    --font-sz-1000: #{rem(59.72)};
    --font-sz-1100: #{rem(85.99)};
    // COLOR PALLETTE
    // brand
    --clr-brand-accent: #c499ff;
    --clr-brand-primary: #423a70;
    --clr-brand-secondary: #695c7c;
    // neutrals
    --clr-beige: #f1f1de;
    --clr-black: #222125;
    --clr-white: #ffffff;
    --clr-black-transparent:  #222125b4;
    // communication
    --clr-green-primary: #255634;
    --clr-green-outline: #3f8353;
    --clr-green-bg: #c9f6d7;

    --clr-red-accent: #d62616;
    --clr-red-primary: #78140b;
    --clr-red-outline: #83453f;
    --clr-red-bg: #f6d0c9;

    // GRADIENTS

    // SHADOWS

    // SPACING
    --spc-2xs: 4px;
    --spc-xs: 8px;
    --spc-sm: 12px;
    --spc-med: 16px;
    --spc-lg: 32px;
    --spc-xl: 64px;
    --spc-2xl: 128px;
}
