---
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";
---

<PageLayout class="page--404">
    <main>
        <div class="wrapper--sm flow">
            <h1 class="title-font--display">Page Not Found</h1>
            <p>The page you were looking for may have been renamed or removed.</p>
            <p>Take a look at these pages instead:</p>

            <!-- CTA LINKS -->
            <ul class="cta">
                <li>
                    <Link url="/" type="button-secondary--white">Home</Link>
                </li>
                <li>
                    <Link url="/events" type="button-secondary--white">Events</Link>
                </li>
                <li>
                    <Link url="/contact" type="button-secondary--white">Contact</Link>
                </li>
            </ul>
        </div>
    </main>
</PageLayout>

<style lang="scss">
    @use "@styles/partials/abstracts/mixins" as *;
    .page--404 {
        background-color: var(--clr-brand-secondary);
        color: var(--clr-white);
    }
    main {
        height: 100%;
        min-height: 500px;
        text-align: center;
        display: grid;
        place-items: center;
    }
    .cta {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: var(--spc-med);
    }

    @include responsive-style(mobile) {
        .cta {
            flex-direction: column;
            li,
            a {
                width: 100%;
            }
        }
    }
</style>
