---
// Components and Scripts
import PageLayout from "@layouts/PageLayout.astro";
import Header from "@layouts/Header.astro";
import Title from "@components/Title.astro";
import cmsFetch from "@assets/scripts/cms/cmsFetch";
import BlockRenderer from "@components/BlockRenderer.astro";
// Assets
import headerBg from "@images/home-bg-desktop.webp";
import Banner from "@components/Banner.astro";

// CMS Query
const querParameters = {
    populate: {
        header: {
            populate: {
                title: "*",
                backgroundImage: "*",
                backgroundImageMobile: "*",
            },
        },
        missionStatement: {
            populate: {
                title: "*",
                text: "*",
                imageBanner: "*",
            },
        },
        services: {
            populate: {
                title: "*",
                text: "*",
                featuredEvents: "*",
            },
        },
        ctaBanner: {
            populate: {
                text: "*",
                link: "*",
            },
        },
        team: {
            populate: {
                title: "*",
                text: "*",
                memberCard: "*",
            },
        },
        seo: "*",
    },
};

const pageQuery = await cmsFetch("about-page", querParameters);
const data = pageQuery?.attributes;

const { header, missionStatement, services, ctaBanner, team, seo } = pageQuery?.attributes;
---

<PageLayout seo={seo}>
    <Header
        backgroundImgPath={headerBg}
        title={header.title.title || "About Us"}
        subtitle={header.title.subtitle || ""}
    />
    <main>
        <!-- MISSION SECTION -->
        <section class="mission section__padding">
            <div class="wrapper">
                <article class="flow">
                    <Title tagName="h2" topper={missionStatement.title.subtitle || "Our Mission"}>
                        {missionStatement.title.title || "Championing Local Musicians & Composers"}
                    </Title>

                    <BlockRenderer html={missionStatement.text}>
                        <p>this is backup content</p>
                    </BlockRenderer>
                </article>
            </div>
        </section>

        <!-- SERVICES -->
        <section class="services section__padding">
            <div class="wrapper">
                <article class="flow">
                    <Title tagName="h2" topper={services.title.subtitle || "What We Do"}
                        >{services.title.title || "Our Services"}</Title
                    >

                    <BlockRenderer html={services.text}>
                        <p>
                            The collective works with early career musicians to write, workshop,
                            record, and premeire wind compositions!
                        </p>
                    </BlockRenderer>
                </article>
            </div>
        </section>

        <!-- CTA BANNER -->
        <Banner> testing </Banner>
    </main>
</PageLayout>

<script define:vars={{ data, header, missionStatement, services, ctaBanner, team }}>
    // console.log(data);
    console.log(missionStatement);
</script>
