---
import PageLayout from "@layouts/PageLayout.astro";
import Header from "@layouts/Header.astro";
import cmsFetch from "src/assets/scripts/cms/cmsFetch";
// CMS query params
const queryParameters = {
    populate: {
        seo: {
            populate: "*",
        },
    },
};
// CMS page query
const pageQuery = await cmsFetch("connect-page", queryParameters);

const { seo } = pageQuery.attributes || {};

const fallbackSeo = {
    metaTitle: "Connect | Toronto Wind Collective",
    metaDescription:
        "Stay in touch with the Collective's upcoming events. Join our community and share your thoughts!",
};
---

<PageLayout cmsSeo={seo} fallbackSeo={fallbackSeo}>
    <Header title="Connect" />
    <main>
        <div class="wrapper"></div>
    </main>
</PageLayout>
