---
import Layout from "@layouts/Layout.astro";
import Header from "@layouts/Header.astro";
import Footer from "@layouts/Footer.astro";
import cmsFetch from "@scripts/cms/cmsFetch";

const queryParameters = {
	populate: {
		profile: {
			populate: "*",
		},
		links: {
			populate: "*",
		},
		seo: {
			populate: "*",
		},
	},
};

const pageQuery = await cmsFetch("connect-page", queryParameters);

const { profile, links, seo } = pageQuery.attributes;
---

<Layout seo={seo}>
	<Header title="Connect" />
	<main>
		<div class="wrapper"></div>
	</main>
	<Footer />
</Layout>

<!-- TESTING -->
<script define:vars={{ profile, links, seo }}>
	console.log("Profile:", profile);
	console.log("Links:", links);
</script>
