---
import Layout from "@layouts/PageLayout.astro";
import Header from "@layouts/Header.astro";
import Footer from "@layouts/Footer.astro";
import cmsFetch from "@assets/scripts/cms/cmsFetch";
// CMS query params
const queryParameters = {
    populate: {
        profile: {
            populate: "*",
        },
        links: {
            populate: "*",
        },
        seo: {
            populate: "*",
        },
    },
};
// CMS page query
const pageQuery = await cmsFetch("connect-page", queryParameters);

const { profile, links, seo } = pageQuery.attributes;
---

<Layout seo={seo}>
    <Header title="Connect" />
    <main>
        <div class="wrapper"></div>
    </main>
    <Footer />
</Layout>

<!-- TESTING -->
<script define:vars={{ pageQuery, profile, links, seo }}>
    console.log(pageQuery);
    console.log("Profile:", profile);
    console.log("Links:", links);
    console.log("SEO:", seo.structuredData);
</script>
