---
// Scripts
import cmsFetch from "src/assets/scripts/cms/cmsFetch";
// Layouts & Components
import PageLayout from "@layouts/PageLayout.astro";
import Header from "@layouts/Header.astro";
import Title from "@components/Title.astro";
import Link from "@components/Link.astro";
import { Icon } from "astro-icon/components";
import ContactForm from "@components/ContactForm.astro";
import Newsletter from "@components/Newsletter.astro";
import { Picture } from "astro:assets";
// Assets
import tempBg from "@images/home-bg-desktop.webp";
const queryParameters = {
    populate: {
        seo: {
            populate: "*",
        },
    },
};
// CMS Query
const pageQuery = await cmsFetch("contact-page", queryParameters);
const { seo = null } = pageQuery?.attributes ?? {};

const fallbackSeo = {
    metaTitle: "Contact Us | Toronto Wind Collective",
    metaDescription:
        "The Toronto Wind Collective is looking for musicians and collaborators for new music! Contact us at torontowindcollective@gmail.com.",
};
---

<PageLayout cmsSeo={seo} fallbackSeo={fallbackSeo} isTurnstile>
    <Header title="Contact Us" backgroundImgPath={tempBg} backgroundImgLoading="eager" />
    <main>
        <section>
            <div class="wrapper section__padding">
                <Title tagName="h2" topper="Get in Touch"> Let's Work Together </Title>
                <div class="contact">
                    <!-- TEXT -->
                    <div class="contact__text flow">
                        <!-- IMAGE  -->
                        <Picture
                            src={tempBg}
                            alt="Toronto Wind Collective"
                            width={1200}
                            height={200}
                            widths={[1200, 600]}
                            sizes="(max-width: 1030px) 100vw, 1200px"
                            loading="eager"
                        />
                        <p>
                            The The Toronto Wind Collective is looking to spotlight Canadian Talent:
                        </p>

                        <ul>
                            <li>Commissioning Composers for Wind Ensemble Music</li>
                            <li>Musicians & Players to rehearse and debut new works</li>
                            <li>Long term organizational support</li>
                        </ul>

                        <p>
                            Feel free to send an <strong>email</strong>, or fill out the contact
                            form! We look forward to collaborating with you!
                        </p>

                        <ul class="contact__socials">
                            <li>
                                <Link
                                    url="mailto:torontowindcollective@gmail.com"
                                    isLinkExternal
                                    class="contact__socials__item"
                                >
                                    <div class="icon-container">
                                        <Icon name="socials/email" />
                                    </div>
                                    <h3 class="body-font">
                                        Email <span> torontowindcollective@gmail.com</span>
                                    </h3>
                                </Link>
                            </li>
                            <li>
                                <Link
                                    url="https://www.instagram.com/torontowindcollective/"
                                    isLinkExternal
                                    class="contact__socials__item"
                                >
                                    <div class="icon-container">
                                        <Icon name="socials/instagram" />
                                    </div>
                                    <h3 class="h6 body-font">
                                        Instagram
                                        <span> instagram.com/torontowindcollective</span>
                                    </h3>
                                </Link>
                            </li>
                        </ul>
                    </div>

                    <!-- FORM -->
                    <ContactForm class="contact__form" />
                </div>
            </div>
        </section>

        <Newsletter />
    </main>
</PageLayout>

<style lang="scss">
    @use "@styles/partials/abstracts/mixins" as *;
    .contact {
        display: flex;
        gap: var(--spc-med) var(--spc-lg);
        justify-content: space-between;
    }

    .contact__form,
    .contact__text {
        width: 50%;
    }
    // TEXT: Banner, cms text, socials
    .contact__text {
        display: flex;
        flex-direction: column;
    }

    .contact__socials {
        display: grid;
        gap: var(--spc-med);
        padding-block-start: var(--spc-lg);
    }
    .contact__socials__item {
        display: flex;
        gap: var(--spc-xs);
        align-items: center;

        h3 {
            font-size: var(--font-sz-400);
            width: fit-content;
            color: var(--clr-black);
        }

        span {
            display: block;
            font-size: var(--font-sz-300);
            font-weight: 400;
            color: #767676;
        }
    }
    .icon-container {
        --icon-size: 30px;
        display: grid;
        place-items: center;
        width: calc(var(--icon-size) + 15px);
        height: calc(var(--icon-size) + 15px);
        border: 2px solid var(--clr-brand-primary);

        [data-icon] {
            font-size: var(--icon-size);
            color: var(--clr-brand-primary);
        }
    }
    // MEDIA QUERIES
    @include responsive-style(1030) {
        .contact {
            flex-direction: column;
            align-items: center;
        }
    }

    .contact__form,
    .contact__text {
        width: 100%;
        max-width: 1000px;
    }

    .contact__text {
        img {
            width: 100%;
            aspect-ratio: 21/9;
            height: auto;
        }

        .text {
            max-width: 700px;
        }
    }
    @include responsive-style(tablet) {
        .contact__socials {
            justify-content: center;
        }
    }

    @include responsive-style(mobile) {
        .contact__socials {
            h3 {
                font-size: var(--font-sz-300);
            }
            span {
                font-size: var(--font-sz-200);
            }
        }
    }
</style>
