---
// Scripts
// Layouts
import PageLayout from "@layouts/PageLayout.astro";
import WatchListenLayout from "@layouts/WatchListenLayout.astro";
import DividerLayout from "@layouts/DividerLayout.astro";
import Newsletter from "@components/Newsletter.astro";
import InstagramFeed from "@components/InstagramFeed.astro";
import SideBySide from "@layouts/SideBySide.astro";
// Components
import Hero from "@layouts/Hero.astro";
import Link from "@components/Link.astro";
import Title from "@components/Title.astro";
import EventGallery from "@components/EventGalleryHighlight.astro";
import cmsFetch from "@assets/scripts/cms/cmsFetch";

const queryParameters = {
    populate: {
        seo: {
            populate: "*",
        },
    },
};
const pageQuery = await cmsFetch("home-page", queryParameters);
const { seo } = pageQuery || {};
const fallbackSeo = {
    metaTitle: "Toronto Wind Collective",
    metaDescription:
        "The Toronto Wind Collective a non-profit wind ensemble working with early career musicians and composers to bring new wind music to the Greater Toronto Community. Create, Perform, Collaborate.",
};
---

<PageLayout isTurnstile cmsSeo={seo} fallbackSeo={fallbackSeo}>
    <Hero />
    <main>
        <DividerLayout
            dividerTopFileName="dividers/splatter-top"
            dividerBottomFileName="dividers/splatter-bottom"
            color="beige"
            class="events"
        >
            <Title tagName="h2" topper="2024/25 Season">Concert & Events</Title>
            <EventGallery />

            <Link url="/events" type="button--primary">Explore All Events</Link>
        </DividerLayout>

        <!-- WHO WE ARE -->
        <SideBySide title={{ tagName: "h2", topper: "Who We Are" }}>
            <Fragment slot="title">We Perform New Wind Music</Fragment>
            <p>
                The Toronto Wind Collective collaborates with early career musicians and composers
                to bring new Wind Ensemble music to the Greater Toronto Community.
            </p>
            <p>
                As a non-profit arts organization, the Toronto Wind Collective works for and with
                musicians in the Greater Toronto Area.
            </p>
            <p>
                <strong>
                    We are currently looking for musicians and composers to collaborate with!
                </strong>
            </p>
            <Link url="/about" type="button--primary" slot="cta">Learn How We Collaborate</Link>
            <Link url="/contact" type="button--secondary" slot="cta">Collaborate With Us</Link>
        </SideBySide>
        <!-- WATCH AND LISTEN -->
        <WatchListenLayout video={{ url: "https://www.youtube.com/watch?v=3KQj4XMWiOA" }} />
        <!-- INSTAGRAM FEED -->
        <InstagramFeed />
        <!-- NEWSLETTER -->
        <Newsletter />
    </main>
</PageLayout>
<style lang="scss">
    @use "@styles/partials/abstracts/mixins" as *;

    // Section placements
    .events {
        margin-block-start: clamp(calc(-1 * rem(145)), -8.789vw + -2.031rem, calc(-1 * rem(100)));

        @include responsive-style(mobile) {
            // margin-block-start: calc(-1 * var(--spc-xl));
            margin-block-start: clamp(
                calc(-1 * rem(100)),
                -7.031vw + -0.625rem,
                calc(-1 * rem(64))
            );
        }
    }
    .newsletter--home {
        margin-block-start: calc(-1 * var(--spc-xl));
    }
</style>
