---
import PageLayout from "@layouts/PageLayout.astro";
import Header from "@layouts/Header.astro";
import EmailForm from "@components/Newsletter.astro";
import InstagramFeed from "@components/InstagramFeed.astro";
import Link from "@components/Link.astro";
import DividerLayout from "@layouts/DividerLayout.astro";
import headerBg from "@images/home-bg-desktop.webp";
import Button from "@components/forms/Button.astro";
---

<PageLayout isTurnstile>
    <Header title="This is the Home Page" backgroundImgPath={headerBg} />
    <main>
        <div class="wrapper flow">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim cupiditate aliquam at
                consectetur quas facere consequuntur mollitia adipisci commodi ea praesentium nam,
                quos impedit eligendi natus ex, tempore et quaerat?
            </p>
            <h2>Useful Links</h2>
            <ul>
                <li>
                    <Link url="/events" type="text--light">Events Page</Link>
                </li>
                <li>
                    <Link url="/about" type="text--light">About Page</Link>
                </li>
                <li>
                    <Link url="/about" type="text--light">Connect Page</Link>
                </li>
            </ul>

            <h2>Buttons</h2>

            <Button type="button--primary" isLoader>Primary</Button>
            <Button type="button--secondary" isLoader>Secondary</Button>
            <Button type="button--secondary-white" isLoader>Secondary White</Button>
        </div>

        <EmailForm />
        <InstagramFeed />

        <DividerLayout
            dividerTopFileName="divider-top-tear"
            dividerBottomFileName="divider-bottom-tear"
            color="#423A70"
        >
            <h2>HELLO. TESTING DIVIDER</h2>
        </DividerLayout>
    </main>
</PageLayout>
