---
// Scripts
import cmsFetch from "src/assets/scripts/cms/cmsFetch";
// Layouts
import Header from "@layouts/Header.astro";
import PageLayout from "@layouts/PageLayout.astro";
// Block Renderer
import BlockRenderer from "@components/BlockRenderer.astro";

const queryParameters = {
    populate: {
        statement: "*",
        seo: {
            populate: "*",
        },
    },
};

const pageQuery = await cmsFetch("privacy-page", queryParameters);
const { statement = "", seo = null } = pageQuery?.attributes ?? null;

const fallbackSeo = {
    metaTitle: "Privacy Policy | Toronto Wind Collective",
    metaDescription: "Learn how the Toronto Wind Collective uses your data.",
};
---

<PageLayout cmsSeo={seo} fallbackSeo={fallbackSeo}>
    <Header title="Privacy Policy" subtitle="Details on your rights and our data practices." />

    <main class="wrapper section__padding flow">
        <BlockRenderer html={statement ?? ""} />
    </main>
</PageLayout>
