---
// Components
import Link from "@components/Link.astro";
import Picture from "astro/components/Picture.astro";
// Assets
// TEMPORARY
import concertImage from "@images/newsletter-bg-desktop.webp";
import concertImage2 from "@images/events-bg.png";
import concertImage3 from "@images/404-bg.webp";

interface Props {
    events?: any[];
    class?: string;
    [key: string]: any;
}

const { events, class: className, ...rest } = Astro.props;
---

<ul class:list={["grid", className]} {...rest}>
    <!-- HIGHLIGHT CARD -->
    <li class="card card--highlight">
        <!-- IMAGE -->
        <Link class="card__img" url="/events">
            <Picture src={concertImage} alt="concert" />
        </Link>
        <!-- INFORMATION -->
        <div class="card__information">
            <div class="card__text">
                <h3 class="card__title h5">Highlighted</h3>
                <p class="card__detail">
                    <span class="card__type">Video Premiere </span>
                    <span class="card__date"> | December 21</span>
                </p>
            </div>

            <Link url="/events" type="button--secondary-white" class="card__cta"
                >Event Information</Link
            >
        </div>
    </li>

    <!-- REGULAR CARD -->
    <li class="card">
        <!-- IMAGE -->
        <Link class="card__img" url="/events">
            <Picture src={concertImage2} alt="concert" />
        </Link>
        <!-- INFORMATION -->
        <div class="card__information">
            <div class="card__text">
                <h3 class="card__title h5">REGULAR EVENT 1</h3>
                <p>
                    <span class="card__type">Video Premiere </span>
                    <span class="card__date"> | December 21</span>
                </p>
            </div>

            <Link url="/events" type="button--secondary-white" class="card__cta"
                >Event Information</Link
            >
        </div>
    </li>

    <!-- REGULAR CARD -->
    <li class="card">
        <!-- IMAGE -->
        <Link class="card__img" url="/events">
            <Picture src={concertImage3} alt="concert" />
        </Link>
        <!-- INFORMATION -->
        <div class="card__information">
            <div class="card__text">
                <h3 class="card__title h5">REGULAR EVENT 2</h3>
                <p>
                    <span class="card__type">Video Premiere </span>
                    <span class="card__date"> | December 21</span>
                </p>
            </div>

            <Link url="/events" type="button--secondary-white" class="card__cta"
                >Event Information</Link
            >
        </div>
    </li>
</ul>

<style lang="scss">
    @use "@styles/partials/abstracts/mixins" as *;
    // Grid
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: clamp(1rem, 3.125vw + -0.5rem, 2rem);

        padding-block: clamp(1rem, 3.125vw + -0.5rem, 2rem);
        @include responsive-style(tablet) {
            grid-template-columns: 1fr;
        }
    }

    // CARD
    .card {
        grid-column: 2 / 3;
        grid-row: span 1;
        display: grid;
        > * {
            grid-area: 1 / 1;
        }
        overflow: hidden;

        @include responsive-style(tablet) {
            grid-column: span 1;
            grid-row: span 1;
        }
    }
    .card--highlight {
        grid-column: 1 / 2;
        grid-row: span 2;
        // TEMP
        .card__img img {
            aspect-ratio: 1 / 1;
        }
        @include responsive-style(tablet) {
            grid-column: span 1;
            grid-row: span 1;

            .card__img img {
                aspect-ratio: auto;
            }
        }
    }

    .card__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card__information {
        align-self: end;

        // layout
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: var(--spc-sm);
        align-items: end;
        // dimensions
        // Styles
        padding: var(--spc-med);
        background-color: var(--clr-brand-primary);
        color: var(--clr-white);
        // extra element
        position: relative;

        @include pseudo(before) {
            --_shape-height: 50px;

            width: 100%;
            height: 100%;
            top: calc((-1 * var(--_shape-height)) + 1px);
            left: 0;
            max-height: 50px;
            background-color: var(--clr-brand-primary);
            clip-path: polygon(8% 70%, 80% 96%, 100% 100%, 0% 100%);
        }
    }

    .card__cta {
        font-size: var(--font-sz-300);
        min-width: 150px;

        @include responsive-style(mobile) {
            width: 100%;
        }
    }
    .card__title,
    .card__type {
        text-transform: uppercase;
    }
    .card__detail {
        font-size: var(--font-sz-300);
    }
</style>
