---
interface Props {
    url: string;
    isLinkExternal?: boolean;
    class?: string;
    type?:
        | "text--dark"
        | "text--light"
        | "button--primary"
        | "button--secondary"
        | "button--secondary-white";
}

const { url, isLinkExternal, type, class: className, ...rest } = Astro.props;

const currentUrl = Astro.url.pathname;
// if type is button, add global button class
const classTypes = type && type.includes("button") ? `button ${type}` : type;
---

<a
    href={url}
    target={isLinkExternal ? "_blank" : null}
    rel={isLinkExternal ? "noopener noreferrer" : null}
    aria-current={currentUrl === url ? "page" : null}
    {...rest}
    class:list={[classTypes, className]}
>
    <slot />
</a>

<style lang="scss">
    a {
        text-decoration: none;
        transition: all 0.2s ease;
    }

    .text--light {
        color: var(--clr-brand-primary);
        &:hover,
        &:focus {
            color: var(--clr-brand-accent);
        }
    }

    .text--dark {
        color: var(--clr-white);

        &:hover,
        &:focus {
            color: var(--clr-brand-accent);
        }
    }
</style>
