---
interface LinkProps {
    url: string;
    isLinkExternal?: boolean;
}

const { url, isLinkExternal, ...props } = Astro.props as LinkProps;
---

<a
    href={url}
    target={isLinkExternal ? "_blank" : null}
    rel={isLinkExternal ? "noopener noreferrer" : null}
    {...props}
>
    <slot />
</a>
