---
/**
 * Props for Link component.
 * @property {string} url - The href for the link
 * @property {boolean} isLinkExternal - The text for the link. Will render target and rel attributes accordingly to CMS.
 */

interface LinkProps {
    url: string;
    isLinkExternal?: boolean;
}

const { url, isLinkExternal, ...props } = Astro.props as LinkProps;
---

<a
    href={url}
    target={isLinkExternal ? "_blank" : null}
    rel={isLinkExternal ? "noopener noreferrer" : null}
    {...props}
>
    <slot />
</a>
