---
// COMPONENTS
import { Icon } from "astro-icon/components";
import Link from "@components/Link.astro";
const adminPath = import.meta.env.VITE_CMS_URL;
---

<div class="preview">
    <div class="preview__text">
        <Icon name="trumpet" />
        <p>
            Viewing site in <strong>preview mode</strong>.
        </p>
    </div>
    <Link
        url={`${adminPath}/admin`}
        type="button--secondary-white"
        class="preview__link"
        isLinkExternal
    >
        Back To Admin Panel
    </Link>
</div>

<style lang="scss">
    .preview {
        position: fixed;
        z-index: 10000;
        bottom: 5vh;
        right: 0px;

        // styles
        box-shadow:
            -0.3rem -0.1rem 0.5rem rgba(0, 0, 0, 0.4),
            -0.5rem -0.5rem 22rem rgba(81, 13, 107, 0.834);
        max-width: 300px;
        background-color: var(--clr-brand-primary);
        color: var(--clr-white);
        padding: var(--spc-med);
        opacity: 0.7;
        transition: all 0.2s ease-in-out;
        &:hover {
            opacity: 1;
        }
    }

    .preview__text {
        // layout
        display: flex;
        align-items: start;
        gap: var(--spc-med);
    }

    .preview__link {
        margin-block-start: var(--spc-sm);
        width: 100%;
        font-size: var(--font-sz-400);
    }
    [data-icon] {
        font-size: 40px;
    }
</style>
