---
interface Props {
    topper?: string;
    title: string;
    TagName: "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
}

const { topper, title, TagName } = Astro.props;
---

<div>
    {topper && <span class="topper">{topper}</span>}
    <TagName class="title">{title}</TagName>
</div>

<style lang="scss">
    div {
        display: grid;
    }

    .topper {
        color: var(--clr-brand-primary);
        font-size: var(--font-sz-400);
        font-weight: 700;
        text-transform: uppercase;
    }
    .title {
        font-size: var(--font-sz-900);
        font-weight: 700;
        margin-top: -10px;
    }
</style>
