---
import { Picture } from "astro:assets";
interface Props {
    title: string;
    subtitle?: string;
    backgroundImgPath?: string;
}
const { title, subtitle, backgroundImgPath } = Astro.props;
---

<header class={backgroundImgPath ? "background-image__parent" : "header"}>
    <div class="wrapper">
        <h1>{title}</h1>
        {subtitle && <p>{subtitle}</p>}
    </div>
    {
        backgroundImgPath && (
            <Picture
                class="background-image"
                src={backgroundImgPath}
                alt="Toronto Wind Collective Ensemble"
                width={1920}
                inferSize
                formats={["webp", "jpg"]}
            />
        )
    }
</header>

<style lang="scss">
    .wrapper {
        display: grid;
        gap: var(--spc-med);
    }

    // Background Image
    .background-image__parent {
        background: linear-gradient(-85.41deg, rgba(66, 58, 112, 17%) 0%, #695c7c 58%);
    }

    .background-image {
        translate: 38%;
    }
</style>
