---
import "@styles/styles.scss";
import CookieConsent from "@components/CookieConsent.astro";
import Analytics from "@components/head/Analytics.astro";
import Favicon from "@components/head/Favicon.astro";
import Seo from "@components/head/Seo.astro";
const { seo } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <Favicon />
        <Seo seo={seo} />
        <Analytics />
    </head>
    <body>
        <slot />
        <CookieConsent />
    </body>
</html>

<style is:global>
    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%
        );
    }
    html {
        font-family: system-ui, sans-serif;
        background: #13151a;
        background-size: 224px;
        color: #f1f1f1;
    }
    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    }
</style>
