---
import "@styles/styles.scss";
import cmsFetch from "@assets/scripts/cms/cmsFetch";
import Navigation from "@components/nav/Navigation.astro";
import Footer from "@components/Footer.astro";
import Favicon from "@components/head/Favicon.astro";
import Seo from "@components/head/Seo.astro";

interface Props {
    seo?: any;
    isTurnstile?: boolean;
}
const { seo, isTurnstile } = Astro.props;

const navigationParameters = {
    populate: {
        logo: {
            populate: "*",
        },
        menu: {
            populate: "*",
        },
        ctaButton: {
            populate: "*",
        },
    },
};
const navigationQuery = await cmsFetch("navigation", navigationParameters);
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <Favicon />
        {seo && <Seo seo={seo} />}
        {
            isTurnstile && (
                <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer />
            )
        }
    </head>
    <body class="page-layout overlay">
        <Navigation data={navigationQuery} />
        <div class="content">
            <slot />
        </div>
        <Footer />
    </body>
</html>

<style lang="scss">
    @use "@styles/partials/abstracts/mixins" as *;

    .page-layout {
        min-height: 100vh;
        min-height: 100dvh;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    // TABLET MEDIA QUERY
    @include responsive-style(tablet) {
        // Adjusting content to Fixed Navigation

        .content {
            margin-top: 95px;
        }
    }
</style>
