---
import type { GetStaticPaths } from "astro";
import cmsFetch from "@assets/scripts/cms/cmsFetch";
import PageLayout from "@layouts/PageLayout.astro";
import Header from "@layouts/Header.astro";
import Title from "@components/Title.astro";
import { Icon } from "astro-icon/components";
import Link from "@components/Link.astro";

export const getStaticPaths = (async () => {
    const queryParameters = {
        populate: {
            details: {
                populate: "*",
            },
            about: {
                populate: "*",
            },
            program: {
                populate: "*",
            },
            perofrmanceMedia: {
                populate: "*",
            },
            seo: "*",
        },
    };
    const eventPagesQuery = await cmsFetch("events", queryParameters);

    return eventPagesQuery.map((event) => ({
        params: { slug: event.attributes.slug },
        props: event.attributes,
    }));
}) satisfies GetStaticPaths;

const { title, details, about, performanceMedia, seo } = Astro.props;
---

<PageLayout seo={seo}>
    <main>
        <Header title={title} />
        <!-- EVENT INFO -->
        <section class="event__info">
            <div class="wrapper">
                <!-- DETAILS -->
                <article class="event__info__text">
                    <section class="event__info__text__details section__padding">
                        <h2 class="sr-only">Event Details</h2>
                        <ul class="details">
                            <li class="detail detail__date">
                                <Icon name="calendar" />
                                <p>November 15, 2023</p>
                            </li>
                            <li class="detail detail__time">
                                <Icon name="clock" />
                                <p>8:00pm - 9:30pm</p>
                            </li>
                            <li class="detail detail__location">
                                <Icon name="location" />
                                <p>Heliconian Club, 35 Hazelton Ave.</p>
                            </li>
                        </ul>
                        <Link url="/" type="button-secondary--white" class="detail__cta">
                            Learn More
                        </Link>
                    </section>

                    <section class="event__info__text__about section__padding">
                        <Title tagName="h2">About</Title>
                        <!-- TEXT TO BE REPLACED BY CMS -->
                        <div class="flow">
                            <p>
                                The Toronto Wind Collective presents their newest commission,
                                “Mosaic” by Shameran Khamo (She/Her). This unique event brings
                                together the diverse musical voices of Toronto, weaving them into a
                                rich tapestry of sound that reflects the city's multicultural
                                spirit.
                            </p>
                            <p>
                                “Mosaic” is a musical composition that unites Middle Eastern and
                                Filipino musical influences, representing the fusion of cultural
                                heritage and symbolizing the prominence and fusion of heritage as
                                one navigates the inner journey of self-discovery.
                            </p>
                            <p>
                                In addition to the premiering this piece we'll be doing concert talk
                                with the composer at Heliconian Club.
                            </p>
                        </div>
                    </section>
                    <section class="event__info__text__program section__padding">
                        <Title tagName="h2">Program</Title>
                        <!-- PROGRAM TO BE REPLACED BY CMS -->
                        <ul class="program flow">
                            <li>
                                <span>Mosaic</span>
                                <span>Shammeran Khamo</span>
                            </li>
                            <li>
                                <span>Suite for Winds</span>
                                <span>Esther Ballou</span>
                            </li>
                            <li>
                                <span>Sarenade for Wind Nonnette</span>
                                <span>Katahj Copley</span>
                            </li>
                        </ul>
                    </section>
                    <!-- POSTER -->
                    <section class="event__info__poster"></section>
                </article>

                <!-- Watch and Listen -->
                <section class="event__videos"></section>

                <!-- FEATURED GUESTS -->
                <section class="event__featured"></section>
            </div>
        </section>
    </main>
</PageLayout>

<style lang="scss">
    @use "@styles/partials/abstracts/mixins" as *;

    // EVENT INFO

    // Details
    .event__info__text__details {
        background-color: var(--clr-brand-primary);
        color: var(--clr-white);
        padding: 20px;
        display: grid;
        gap: var(--spc-xs);
        grid-template-columns: repeat(2, auto);

        .details {
            display: grid;
            gap: var(--spc-xs);
        }

        .detail {
            display: flex;
            align-items: center;
            gap: var(--spc-xs);
            &__cta {
                align-self: end;
                justify-self: end;
                font-size: var(--font-sz-400);
            }
        }

        a {
        }
        [data-icon] {
            font-size: 20px;
        }
    }

    // Program
    .program {
        max-width: 500px;

        li {
            display: flex;
            justify-content: space-between;
        }
    }
</style>
