---
import type { GetStaticPaths } from "astro";
import cmsFetch from "@assets/scripts/cms/cmsFetch";
import PageLayout from "@layouts/PageLayout.astro";
import Header from "@layouts/Header.astro";

export const getStaticPaths = (async () => {
    const queryParameters = {
        populate: {
            details: {
                populate: "*",
            },
            about: {
                populate: "*",
            },
            program: {
                populate: "*",
            },
            perofrmanceMedia: {
                populate: "*",
            },
            seo: "*",
        },
    };
    const eventPagesQuery = await cmsFetch("events", queryParameters);

    return eventPagesQuery.map((event) => ({
        params: { slug: event.attributes.slug },
        props: event.attributes,
    }));
}) satisfies GetStaticPaths;

const { title, details, about, performanceMedia, seo } = Astro.props;
console.log(details, about, performanceMedia);
---

<PageLayout seo={seo}>
    <main>
        <Header title={title} />
        <div class="wrapper">
            <h1>{title}</h1>
        </div>
    </main>
</PageLayout>
