---
import Image from "astro/components/Image.astro";
import Link from "@components/Link.astro";
import NavMenu from "./NavMenu.astro";
import NavMobileButton from "./NavMobileButton.astro";
import logoBackup from "@images/logos/logo.svg";

const { logo, menu, ctaButton } = Astro.props.cmsData?.attributes || {};

const { imageMedia, description } = logo || {};
---

<nav class="main-navigation" role="navigation">
    <div class="wrapper">
        <!-- LOGO -->
        <Link url="/">
            <Image
                class="logo"
                src={logoBackup}
                loading="eager"
                alt="Toronto Wind Collective logo"
                width={150}
                height={75}
            />
        </Link>
        <!-- MOBILE MENU BUTTON -->
        <NavMobileButton class="mobile-menu-button" />
        <!-- MENU -->
        <NavMenu class="navigation-menu" cmsData={{ menu, ctaButton }} />

        <!-- CTA BUTTON -->
        <div class="cta-button">
            {
                (
                    <Link
                        url={ctaButton ? ctaButton.url : "/events"}
                        isLinkExternal={ctaButton ? ctaButton.isLinkExternal : false}
                        type="button--primary"
                    >
                        {ctaButton ? ctaButton.label : "2024/2025 Season"}
                    </Link>
                )
            }
        </div>
    </div>
</nav>

<style lang="scss">
    @use "@styles/partials/abstracts/mixins" as *;

    // nav styles
    .main-navigation {
        background-color: var(--clr-black);
        color: var(--clr-white);
        position: relative;
        z-index: 999;

        // text specific styles
        :global(.text--dark) {
            &[aria-current="page"] {
                color: var(--clr-brand-accent);
            }
        }
    }
    // layout
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
    }

    // MEDIA QUERIES

    // TABLET
    @include responsive-style(900) {
        .cta-button .button--primary {
            font-size: var(--font-sz-300);
        }
    }

    @include responsive-style(tablet) {
        // Fixed Top Navigation
        .main-navigation {
            position: fixed;
            width: 100%;
            top: 0px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            transition: transform 0.5s ease 0.3s;
            z-index: 1000;
        }

        .logo {
            position: relative;
            z-index: 1001;
        }
        // hiding desktop cta button
        .cta-button {
            display: none;
        }

        // disabling link interactivity when closed
        .navigation-menu {
            :global(a) {
                pointer-events: none;
                visibility: hidden;
            }
        }
        // OPEN states
        .open {
            // Menu Open: Links are accessible and visible
            .navigation-menu {
                transform: translateX(0%);
                :global(a) {
                    pointer-events: all;
                    visibility: visible;
                }
            }
            // Mobile Menu Button
            :global(.mobile-menu-button span) {
                background-color: var(--clr-brand-accent);
                &:nth-child(1) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
                &:nth-child(2) {
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                &:nth-child(3) {
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
                &:nth-child(4) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
            }
        }
    }
</style>

<script>
    const nav = document.querySelector(".main-navigation");
    const mobileMenuButton = document.querySelector(".mobile-menu-button");

    mobileMenuButton.addEventListener("click", () => {
        nav.classList.toggle("open");
        document.body.classList.toggle("overlay--active");
    });

    document.body.addEventListener("click", (e) => {
        if (nav.classList.contains("open") && e.target === document.body) {
            if (document.body.classList.contains("overlay--active")) {
                nav.classList.remove("open");
                document.body.classList.remove("overlay--active");
            }
        }
    });
</script>
