---
import Link from "@components/Link.astro";

const { logo, menu, ctaButton } = Astro.props;
---

<nav id="main-navigation" role="navigation">
    <div class="wrapper">
        <!-- LOGO -->

        <!-- MENU -->

        <!-- MOBILE MENU BUTTON -->
    </div>
</nav>
