---
import { Picture } from "astro:assets";
import Link from "@components/Link.astro";
import NavMenu from "./NavMenu.astro";
import NavMobileButton from "./NavMobileButton.astro";
import logoBackup from "@images/logos/logo.svg";
interface Props {
    logo?: any;
    mainNavigation?: any;
    ctaButton?: any;
}
const { logo, mainNavigation, ctaButton } = Astro.props || {};
---

<nav class="navigation__main" role="navigation">
    <div class="wrapper">
        <!-- LOGO -->
        <Link url="/">
            {
                logo ? (
                    <Picture
                        class="logo"
                        src={logo.url}
                        loading="eager"
                        alt="Toronto Wind Collective logo"
                        widths={[600, 300]}
                        sizes="(max-width: 768px) 300px, 600px"
                        width={150}
                        height={75}
                    />
                ) : (
                    <Picture
                        class="logo"
                        src={logoBackup}
                        loading="eager"
                        alt="Toronto Wind Collective logo"
                        widths={[600, 300]}
                        sizes="(max-width: 768px) 300px, 600px"
                        width={150}
                        height={75}
                    />
                )
            }
        </Link>
        <!-- MOBILE MENU BUTTON -->
        <NavMobileButton class="mobile-menu-button" />
        <!-- MENU -->
        <NavMenu class="navigation-menu" cmsData={{ mainNavigation, ctaButton }} />

        <!-- CTA BUTTON -->
        <div class="cta-button">
            {
                (
                    <Link
                        url={ctaButton ? ctaButton.url : "/events"}
                        isLinkExternal={ctaButton ? ctaButton.isLinkExternal : false}
                        type="button--primary"
                    >
                        {ctaButton ? ctaButton.label : "2024/2025 Season"}
                    </Link>
                )
            }
        </div>
    </div>
</nav>

<style lang="scss">
    @use "@styles/partials/abstracts/mixins" as *;

    // nav styles
    .navigation__main {
        background-color: var(--clr-black);
        color: var(--clr-white);
        position: relative;
        z-index: 999;
    }

    // logo
    .logo {
        aspect-ratio: 150 / 75;
        object-fit: contain;
    }
    // layout
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
    }

    // MEDIA QUERIES

    // TABLET
    @include responsive-style(900) {
        .logo {
            max-height: 60px;
        }
        .cta-button .button--primary {
            font-size: var(--font-sz-300);
        }
    }

    @include responsive-style(tablet) {
        // Fixed Top Navigation
        .navigation__main {
            position: fixed;
            width: 100%;
            top: 0px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            transition: transform 0.5s ease 0.3s;
            z-index: 1000;
        }

        .logo {
            position: relative;
            z-index: 1001;
        }
        // hiding desktop cta button
        .cta-button {
            display: none;
        }

        // disabling link interactivity when closed
        .navigation-menu {
            :global(a) {
                pointer-events: none;
                visibility: hidden;
            }
        }
        // OPEN states
        .open {
            // Menu Open: Links are accessible and visible
            .navigation-menu {
                transform: translateX(0%);
                :global(a) {
                    pointer-events: all;
                    visibility: visible;
                }
            }
            // Mobile Menu Button
            :global(.mobile-menu-button span) {
                background-color: var(--clr-brand-accent);
                &:nth-child(1) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
                &:nth-child(2) {
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                &:nth-child(3) {
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
                &:nth-child(4) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
            }
        }
    }
</style>

<script>
    const nav = document.querySelector(".navigation__main");
    const mobileMenuButton = document.querySelector(".mobile-menu-button");

    mobileMenuButton.addEventListener("click", () => {
        nav.classList.toggle("open");
        document.body.classList.toggle("overlay--active");
    });

    document.body.addEventListener("click", (e) => {
        if (nav.classList.contains("open") && e.target === document.body) {
            if (document.body.classList.contains("overlay--active")) {
                nav.classList.remove("open");
                document.body.classList.remove("overlay--active");
            }
        }
    });
</script>
