---
const { ...rest } = Astro.props;
---

<button aria-expanded="false" aria-controls="menu" {...rest}>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <p class="sr-only">mobile menu</p>
</button>

<style lang="scss">
    @use "@styles/partials/abstracts" as *;

    button {
        --button-width: 50px;
        --button-height: calc(var(--button-width) * 0.76);
        // hidden on desktop
        display: none;
        padding: 0;
        // styles
        background-color: transparent;
        border: none;
        width: var(--button-width);
        height: var(--button-height);
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;

        &:hover,
        &:focus-visible {
            span {
                background-color: var(--clr-brand-accent);
            }
        }
    }
    // individual span
    span {
        pointer-events: none;
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background-color: var(--clr-white);
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;

        &:nth-child(1) {
            top: 0%;
        }
        &:nth-child(2),
        &:nth-child(3) {
            top: 33.3%;
        }
        &:nth-child(4) {
            top: 66.6%;
        }
    }

    // Opened state animation

    :global(.main-navigation .open .mobile-menu-button span) {
        &:nth-child(1) {
            top: 18px;
            width: 0%;
            left: 50%;
        }
        &:nth-child(2) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        &:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        &:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%;
        }
    }

    @include responsive-style(tablet) {
        .mobile-menu-button {
            display: block;
        }
    }
</style>
