---
import Link from "@components/Link.astro";
import SubMenu from "./SubMenu.astro";

interface Props {
    cmsData: {
        mainNavigation?: any;
        ctaButton?: any;
    };
    class?: string;
    [key: string]: any;
}

const { cmsData, class: className, ...rest } = Astro.props;

const { mainNavigation, ctaButton } = cmsData || {};
---

<div class:list={["menu__container", className]} {...rest}>
    <ul class="menu__list">
        {
            mainNavigation &&
            // CMS menu
            mainNavigation.length > 0 ? (
                mainNavigation.map((link) => {
                    // Regular Link
                    if (link.__component === "shared.link") {
                        return (
                            <li>
                                <Link
                                    url={link.url}
                                    isLinkExternal={link.isLinkExternal}
                                    type="text--dark"
                                    class="menu__link"
                                >
                                    {link.label}
                                </Link>
                            </li>
                        );
                    }
                    // Submenu
                    if (link.__component === "navigation.link-sub-menu") {
                        return (
                            <li class="sub-menu">
                                <SubMenu cmsData={{ ...link }} />
                            </li>
                        );
                    }
                })
            ) : (
                // Default menu
                <>
                    <li>
                        <Link url="/" type="text--dark" class="menu__link">
                            Home
                        </Link>
                    </li>
                    <li>
                        <Link url="/about" type="text--dark" class="menu__link">
                            About
                        </Link>
                    </li>
                    <li>
                        <Link url="/events" type="text--dark" class="menu__link">
                            Concert & Events
                        </Link>
                    </li>
                    <li>
                        <Link url="/contact" type="text--dark" class="menu__link">
                            Contact Us
                        </Link>
                    </li>
                </>
            )
        }
    </ul>
    <!-- MOBILE CTA -->
    {
        (
            <Link
                url={ctaButton ? ctaButton.url : "/events"}
                isLinkExternal={ctaButton ? ctaButton.isLinkExternal : false}
                type="button--primary"
                class="mobile-cta"
            >
                {ctaButton ? ctaButton.label : "2024/2025 Season"}
            </Link>
        )
    }
</div>

<style lang="scss">
    @use "@styles/partials/abstracts/mixins" as *;

    .mobile-cta {
        display: none;
    }

    // desktop menu
    .menu__list {
        display: flex;
        gap: var(--spc-lg);
        margin: 0;
    }

    .menu__link[aria-current="page"] {
        color: var(--clr-brand-accent);
    }

    // MEDIA QUERIES

    // TABLET
    @include responsive-style(900) {
        .menu__link,
        .mobile-cta {
            font-size: var(--font-sz-300);
        }
    }
    @include responsive-style(tablet) {
        // Mobile Menu

        .menu__container {
            --menu-width: 70%;
            // position
            position: fixed;
            bottom: 0px;
            right: 0px;
            // dimensions
            width: var(--menu-width);
            min-height: 100vh;
            min-height: 100dvh;
            padding: 120px var(--spc-med) var(--spc-xl);
            // layout
            display: grid;
            align-content: center;
            gap: var(--spc-xl);
            background-color: var(--clr-black);
            // close state
            transform: translateX(100%);
            transition: transform 0.4s ease-in-out;
        }
        .menu__list {
            width: 100%;
            flex-direction: column;
            gap: var(--spc-med);
        }
        .menu__link,
        .mobile-cta {
            font-size: clamp(var(--font-sz-400), 1.76vw + 0.81rem, var(--font-sz-600));
        }
        .mobile-cta {
            display: block;
            align-self: flex-start;
            width: 100%;
        }
    }

    // MOBILE
    @include responsive-style(mobile) {
        .menu__container {
            --menu-width: 80%;
        }
    }
</style>
