---
import Link from "@components/Link.astro";
import SubMenu from "./SubMenu.astro";

interface Props {
    cmsData: {
        menu?: any;
        ctaButton?: any;
    };
    class?: string;
    [key: string]: any;
}

const { cmsData, class: className, ...rest } = Astro.props;

const { menu, ctaButton } = cmsData || {};
---

<div class:list={["menu__container", className]} {...rest}>
    <ul class="menu__list">
        {
            menu &&
            // CMS menu
            menu.length > 0 ? (
                menu.map((link) => {
                    // Regular Link
                    if (link.__component === "shared.link") {
                        return (
                            <li>
                                <Link
                                    url={link.url}
                                    isLinkExternal={link.isLinkExternal}
                                    type="text--dark"
                                >
                                    {link.label}
                                </Link>
                            </li>
                        );
                    }
                    // Submenu
                    if (link.__component === "navigation.link-sub-menu") {
                        return (
                            <li class="sub-menu">
                                <SubMenu cmsData={{ ...link }} />
                            </li>
                        );
                    }
                })
            ) : (
                // Default menu
                <>
                    <li>
                        <Link url="/" type="text--dark">
                            Home
                        </Link>
                    </li>
                    <li>
                        <Link url="/about" type="text--dark">
                            About
                        </Link>
                    </li>
                    <li>
                        <Link url="/events" type="text--dark">
                            Concert & Events
                        </Link>
                    </li>
                    <li>
                        <Link url="/contact" type="text--dark">
                            Contact Us
                        </Link>
                    </li>
                </>
            )
        }
    </ul>
    <!-- mobile cta -->
    {
        (
            <Link
                url={ctaButton ? ctaButton.url : "/events"}
                isLinkExternal={ctaButton ? ctaButton.isLinkExternal : false}
                type="button--primary"
                class="mobile-cta"
            >
                {ctaButton ? ctaButton.label : "2024/2025 Season"}
            </Link>
        )
    }
</div>

<style lang="scss">
    @use "@styles/partials/abstracts/mixins" as *;

    .mobile-cta {
        display: none;
    }

    // desktop menu
    .menu__list {
        display: flex;
        gap: var(--spc-lg);
        margin: 0;
    }

    .text--dark[aria-current="page"] {
        color: var(--clr-brand-accent);
    }

    // MEDIA QUERIES

    // TABLET
    @include responsive-style(900px) {
        .menu__list {
            :global(a) {
                font-size: var(--font-sz-300);
            }
        }
    }
    @include responsive-style(tablet) {
        // Mobile Menu

        .menu__container {
            --menu-width: 70%;
            // position
            position: fixed;
            bottom: 0px;
            right: 0px;
            // dimensions
            width: var(--menu-width);
            min-height: 100vh;
            min-height: 100dvh;
            padding: 120px var(--spc-med) var(--spc-xl);
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: var(--spc-xl);
            background-color: var(--clr-black);
            transform: translateX(100%);
            transition: transform 0.4s ease-in-out;
        }
        .menu__list {
            width: 100%;
            height: 100vh;
            height: 100dvh;
            max-height: 350px;
            // layout
            flex-direction: column;
            justify-content: flex-start;
            gap: var(--spc-med);
            align-items: start;
            overflow-y: auto;

            :global(a) {
                font-size: var(--font-sz-600);
            }
        }

        .mobile-cta {
            display: block;
            width: 100%;
            a {
                display: block;
                text-align: center;
            }
        }
    }

    // MOBILE
    @include responsive-style(mobile) {
        .menu__container {
            --menu-width: 80%;
            :global(a) {
                font-size: var(--font-sz-400);
            }
            .menu__list {
                margin-top: var(--spc-xl);

                max-height: 250px;
            }
        }
    }
</style>
