---
import { Icon } from "astro-icon/components";

interface Props {
    type?:
        | "text--dark"
        | "text--light"
        | "button--primary"
        | "button--secondary"
        | "button--secondary-white";
    class?: string;
    htmlType?: "submit" | "reset" | "button";
    isLoader?: boolean;
    [key: string]: any;
}

const { type, class: className, htmlType, isLoader, ...rest } = Astro.props;

// if type is button, add global button class
const classTypes = type && type.includes("button") ? `button ${type}` : type;
---

<button
    class:list={[classTypes, className, isLoader && "button--loader"]}
    type={htmlType || "button"}
    {...rest}
>
    <slot />
    {isLoader && <Icon name="loader" class="button__loader" />}
</button>
